[user]
	name = Josh Clark
	email = josh@goclarks.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = n.exe
	autocrlf = true
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[push]
	default = upstream

[gui]
	recentrepo = C:/code/PostcardBudget
	fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[github]
	user = joshclark
	token = e12c30bd4a0313fbba340bbc9e8c6696
