[submodule "powershell/modules/posh-git"]
	path = powershell/modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "powershell/modules/posh-hg"]
	path = powershell/modules/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "powershell/modules/PowerTab"]
	path = powershell/modules/PowerTab
	url = https://github.com/PProvost/PowerTab.git
